
/* 
    extra small device css starts
*/

@media(max-width:575px){
    .navbar .navbar-brand{
        position: unset !important;
        transform: skewX(0deg) !important;
        padding: 0px 20px !important;
    }

    .navbar .navbar-brand img{
        transform: skewX(0deg) !important;
    }

    .navbar .navbar-toggler{
        border-color:#fff ;
        margin-right: 10px;
    }

    .navbar .navbar-toggler i{
        color: var(--brand);
    }

    .navbar-light .navbar-nav{
        background: rgba(53, 53, 53, 0.7);
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        text-align: center;
        transition: all linear 0.4s !important;
    }

    .navbar-light .navbar-nav .nav-item .nav-link::before{
        width: 0%;
        height: 100%;
        transition: all linear 0.4s;
    }

    .navbar-light .navbar-nav .nav-item .nav-link:hover::before{
        width: 100%;
    }
/*======================
    navbar css ends 
======================*/


/*  banner css starts */
#banner .banner-slider .bg1 .container .banner-text h4::before,
#banner .banner-slider .bg1 .container .banner-text h4::after,
#banner .banner-slider .bg1 .container .banner-text h1::before,
#banner .banner-slider .bg1 .container .banner-text h1::after,
#banner .banner-slider .bg1 .container .banner-text p::before,
#banner .banner-slider .bg1 .container .banner-text p::after
{
    display:none;
}

#banner .banner-slider .bg1 .container .banner-text h4{
    font-size: 23px;
}

#banner .banner-slider .bg1 .container .banner-text h1{
    font-size: 46px;
}

#banner .banner-slider .bg1 p{
    padding: 0;
}

#banner .banner-slider .bg2 p{
    padding: 0;
}
/*  banner css ends  */


/*  about css starts  */
#about .about-text p{
    padding: 0;
}
#about{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
/*  about css ends  */


/* gallery css starts */
#gallery{
    margin-top: 50px;
}
/* gallery css ends  */


/* team css starts  */
#team{
    margin-top: 50px;
}

#team .team-item{
    margin-top: 35px;
}
/* team css ends  */


/* testimonial css start  */
#testimonial{
    margin-top: 30px;
}

#testimonial .testimonial-bg .testimonial-item .testimonial-person-text p{
    text-align: justify;
}
/* testimonial css ends  */


/* membership css start  */
#membership{
    margin-top: 50px;
}

#membership .membership-item{
    margin-top: 25px;
}

#membership .membership-item .membership-price h3{
    font-size: 40px;
}
/* membership css ends  */


/* counter css start  */
#counter{
    margin-top:50px;
    padding-bottom: 20px;
}

#counter .counter-item{
    text-align: center;
    margin-bottom: 20px;
}
/* counter css ends  */

/* routine css start  */
#routine{
    margin-top:50px;
}

#routine .nav-tabs .nav-item{
    width: 100%;
    margin-bottom: 2px;
}

#routine .routine-detail ul li{
    width: 100%;
}
/* routine css ends  */

/* brand css start  */
#brand{
    margin-top: 50px;
}
/* brand css ends  */



/* footer css ends  */
footer .footer-copyright .copyright p{
    font-size: 12px;
}
/* footer css ends  */
}
/* =============================
    extra small device css ends
================================*/



/* =============================
   small device css start
================================*/
@media (min-width:576px) and (max-width:767px){


    .navbar .navbar-brand{
        position: unset !important;
        transform: skewX(0deg) !important;
        padding: 0px 20px !important;
    }

    .navbar .navbar-brand img{
        transform: skewX(0deg) !important;
    }

    .navbar .navbar-toggler{
        border-color:var(--brand); ;
        margin-right: 10px;
    }

    .navbar .navbar-toggler i{
        color: var(--brand);
    }

    .navbar-light .navbar-nav{
        background: rgba(53, 53, 53, 0.7);
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        text-align: center;
        transition: all linear 0.4s !important;
    }

    .navbar-light .navbar-nav .nav-item .nav-link::before{
        width: 0%;
        height: 100%;
        transition: all linear 0.4s;
    }

    .navbar-light .navbar-nav .nav-item .nav-link:hover::before{
        width: 100%;
    }

    .navbar-light .navbar-toggler:focus{
        box-shadow: none;
    }

    /*======================
        navbar css ends 
    ======================*/



/*  banner css start */
#banner .banner-slider .bg1 .container .banner-text h4::before,
#banner .banner-slider .bg1 .container .banner-text h4::after,
#banner .banner-slider .bg1 .container .banner-text h1::before,
#banner .banner-slider .bg1 .container .banner-text h1::after,
#banner .banner-slider .bg1 .container .banner-text p::before,
#banner .banner-slider .bg1 .container .banner-text p::after
{
    display:none;
}

#banner .banner-slider .bg1 .container .banner-text h4{
    font-size: 26px;
}

#banner .banner-slider .bg1 .container .banner-text h1{
    font-size: 52px;
}

#banner .banner-slider .bg1 p{
    padding: 0;
}
/*  banner css ends  */



/*  about css starts  */
#about .about-text p{
    padding: 0;
}
#about{
    margin-top: 60px;
    margin-bottom: 60px;
}
/*  about css ends  */



/* gallery css starts */
#gallery{
    margin-top: 60px;
}
/* gallery css ends  */



/* team css starts  */
#team{
    margin-top: 60px;
}

#team .team-item{
    margin-top: 35px;
}
/* team css ends  */



/* testimonial css start  */
#testimonial{
    margin-top: 40px;
}

#testimonial .testimonial-bg .testimonial-item .testimonial-person-text p{
    text-align: justify;
}
/* testimonial css ends  */



/* membership css start  */
#membership{
    margin-top: 50px;
}

#membership .membership-item{
    margin-top: 25px;
}

#membership .membership-item .membership-price h3{
    font-size: 40px;
}
/* membership css ends  */



/* counter css start  */
#counter{
    margin-top:60px;
    padding-bottom: 20px;
}

#counter .counter-item{
    margin-bottom: 20px;
}
/* counter css ends  */



/* routine css start  */
#routine{
    margin-top:60px;
}

#routine .nav-tabs .nav-item{
    width: 49%;
    margin: 2px;
}

#routine .routine-detail ul li{
    width: 50%;
}
/* routine css ends  */



/* brand css start  */
#brand{
    margin-top: 60px;
}
/* brand css ends  */


/* footer css start  */
footer .footer-copyright .copyright p{
    text-align: center;
}
/* footer css end  */
}
/* =============================
   small device css ends
================================*/





/* =============================
   medium device css start
================================*/

@Media(min-width:768px) and (max-width:991px){

    .navbar .navbar-brand{
        position: unset !important;
        transform: skewX(0deg) !important;
        padding: 0px 20px !important;
    }

    .navbar .navbar-brand img{
        transform: skewX(0deg) !important;
    }

    .navbar .navbar-toggler{
        border-color:var(--brand); ;
        margin-right: 10px;
    }

    .navbar .navbar-toggler i{
        color: var(--brand);
    }

    .navbar-light .navbar-nav{
        background: rgba(53, 53, 53, 0.7);
        position: absolute;
        z-index: -1;
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        text-align: center;
        transition: all linear 0.4s !important;
    }

    .navbar-light .navbar-nav .nav-item .nav-link::before{
        width: 0%;
        height: 100%;
        transition: all linear 0.4s;
    }

    .navbar-light .navbar-nav .nav-item .nav-link:hover::before{
        width: 100%;
    }

    .navbar-light .navbar-toggler:focus{
        box-shadow: none;
    }

    /*======================
        navbar css ends 
    ======================*/



/*  banner css start */
#banner .banner-slider .bg1 .container .banner-text h4::before,
#banner .banner-slider .bg1 .container .banner-text h4::after,
#banner .banner-slider .bg1 .container .banner-text h1::before,
#banner .banner-slider .bg1 .container .banner-text h1::after,
#banner .banner-slider .bg1 .container .banner-text p::before,
#banner .banner-slider .bg1 .container .banner-text p::after
{
    display:none;
}

#banner .banner-slider .bg1 .container .banner-text h4{
    font-size: 26px;
}

#banner .banner-slider .bg1 .container .banner-text h1{
    font-size: 52px;
}

#banner .banner-slider .bg1 p{
    padding: 0;
}
/*  banner css ends  */



/*  about css starts  */
#about .about-text p{
    padding: 0;
}
#about{
    margin-top: 60px;
    margin-bottom: 60px;
}
/*  about css ends  */



/* gallery css starts */
#gallery{
    margin-top: 60px;
}
/* gallery css ends  */



/* team css starts  */
#team{
    margin-top: 60px;
}

#team .team-item{
    margin-top: 35px;
}
/* team css ends  */



/* testimonial css start  */
#testimonial{
    margin-top: 40px;
}

#testimonial .testimonial-bg .testimonial-item .testimonial-person-text p{
    text-align: justify;
}
/* testimonial css ends  */



/* membership css start  */
#membership{
    margin-top: 50px;
}

#membership .membership-item{
    margin-top: 25px;
}

#membership .membership-item .membership-price h3{
    font-size: 40px;
}
/* membership css ends  */



/* counter css start  */
#counter{
    margin-top:60px;
    padding-bottom: 20px;
}

#counter .counter-item{
    margin-bottom: 20px;
}
/* counter css ends  */



/* routine css start  */
#routine{
    margin-top:60px;
}

#routine .routine-detail ul li{
    width: 25%;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* routine css ends  */



/* brand css start  */
#brand{
    margin-top: 60px;
}
/* brand css ends  */



/* footer css start  */
footer{
    margin-top: 60px;
}
footer .footer-copyright .copyright p{
    text-align: center;
}

footer .footer-main{
    padding-bottom: 20px;
}
/* footer css end  */
}
/* =============================
   medium device css ends
================================*/


